body,
header,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h3,
p,
ul {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    outline: none;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.space-between {
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}

.common-color-1 {
    color: #ff335c;
}

.error {
    color: #6666ff;
    text-align: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    display: inline-block; 
}

.container {
    width: 60rem;
    margin: 0 auto;
}

.header-bg {
    background: url(../img/film-search-background.png) no-repeat top / cover;
}

.transparent-black-header-bg {
    background-color: rgba(0, 0, 0, 0.7);
}

.header-bg,
.transparent-black-header-bg {
    min-height: 20rem;
}

h1 {
    text-transform: uppercase;
    color: #fffafa;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    font-size: 2rem;
}

.search-input {
    width: 100%;
    height: 5rem;
    border: none;
    border-bottom: 2px solid #ff335c;
    background-color: black; 
    color: #fffafa;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.search-input-enter {
    position: relative;
    top: -3.5rem;
    left: 58rem;
}

.fa.search-input-enter {
    font-size: 2rem;
}

.search-input-enter:hover {
    color: #ff6685;
    cursor: pointer;
}

.search-input:active,
.search-input:focus {
    outline: none;
}

.search-parameters {
    color: #fffafa;
    font-family: Arial, Helvetica, sans-serif;
}

.search-parameters p {
    margin-top: 0.8rem;
}

.search-parameters label {
    display: inline-block;
    width: 6rem;
    height: 2rem;
    margin: 0 0 1rem 1rem; 
    border-radius: 2px;
    background-color: #4d4d4d;
    text-align: center;
    padding-top: 0.8rem;
}

.search-parameters input {
    position: relative;
    margin-right: -7rem;
    margin-bottom: 1rem; 
    width: 6rem;
    height: 3rem;
    opacity: 0;
    cursor: pointer;
}

.search-parameters input:checked+label {
    background-color: #ff335c;
}

.chosen-sort-parameter {
    color: #ff335c;
}

.search-button-default-mode {
    width: 9rem;
    height: 3rem;
    font-size: 1.4rem;
    background-color: #faf0e6;
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 2rem; 
}

.search-results {
    height: 4rem;
    background-color: #fff5ee;
}

.search-results div {
    padding-top: 1rem;
    justify-content: space-between;
}

.search-results .genre {
    margin-right: 0.3rem; 
}

.search-results div p,
.sorter {
    font-weight: bold;
    font-size: 1.2rem;
}

.sorter li {
    margin-left: 1rem;
    cursor: pointer;
}

.films-container {
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}


footer {
    background-color: #4d4d4d;
    height: 6rem;
}

footer div {
    width: 1200px;
    margin: 0 auto;
}

footer p.logo {
    margin-left: 2.5rem; 
}

.chosen-film {
    width: 66rem;
    margin: 0 auto;
}

.chosen-film img {
    width: 18rem;
    height: 26rem;
    object-fit: fill;
    margin: 2rem 0;
}

.chosen-film section {
    width: 100%;
    margin-left: 4rem;
}

.chosen-film p {
    color: #faf0e6;
    margin: 1rem 2rem 0 0; 
    font-size: 1.4rem;
}

.chosen-film h1 {
    color: #ff335c;
}

.chosen-film .rating {
    color: #8ab82e;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    padding: 1.4rem;
    box-sizing: content-box;
    font-size: 1.4rem;
    border: 1px solid #8ab82e;
    margin: 2rem 0 0 2rem;
    text-align: center;
}